[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = tab
indent_size = 4

[{*.md,README,README.*,LICENSE,LICENSE.*}]
indent_style = space

[{*.json,.bowerrc,.gitignore,.npmignore,.gitattributes,.editorconfig}]
end_of_line = lf
indent_style = space
indent_size = 2
